/Example01/nbproject/private/
/Example01/build/
/Lab1/nbproject/private/
/Lab1/build/
/Example02/nbproject/private/
/Example02/build/
/bleh/nbproject/private/
/lab2/nbproject/private/
/lab2/build/
/bleh
/Example03/nbproject/private/
/Example04/nbproject/private/
/Example04/build/
/Homework1/nbproject/private/
/Homework1/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/Example06/nbproject/private/
/Lab3/nbproject/private/
/Example07/nbproject/private/
/Lab3/build/
/Homework2/nbproject/private/
/Example07/build/
/Homework2/build/
/Lab4/nbproject/private/