/Example01/nbproject/private/
/Example01/build/
/Lab1/nbproject/private/
/Lab1/build/
/Example02/nbproject/private/
/Example02/build/
/bleh/nbproject/private/
/lab2/nbproject/private/
/lab2/build/
/bleh
/Example03/nbproject/private/
/Example04/nbproject/private/
/Example04/build/