/Example01/nbproject/private/
/Example01/build/
/Lab1/nbproject/private/
/Lab1/build/
/Example02/nbproject/private/
/Example02/build/
/bleh/nbproject/private/
/lab2/nbproject/private/
/lab2/build/
/bleh
/Example03/nbproject/private/
/Example04/nbproject/private/
/Example04/build/
/Homework1/nbproject/private/
/Homework1/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/Example06/nbproject/private/
/Lab3/nbproject/private/
/Example07/nbproject/private/
/Lab3/build/
/Homework2/nbproject/private/
/Example07/build/
/Homework2/build/
/Lab4/nbproject/private/
/Lab4/build/
/Homework3/nbproject/private/
/Example08/nbproject/private/
/Example08/build/
/Homework3/build/
/Lab05/nbproject/private/
/Lab05/build/
/Homework04/nbproject/private/
/Homework04/build/
/Homework4/nbproject/private/
/Homework4/build/
/Lab5/nbproject/private/
/Lab6/nbproject/private/
/Lab6/build/
/Homework05/nbproject/private/
/Homework05/build/
/Lab7/nbproject/private/
/Lab7/build/
/scratchpad/nbproject/private/
/scratchpad/build/
/Homework06/nbproject/private/
/Homework06/build/
/Lab8/nbproject/private/
/Lab8/build/
/JavaApplication41/nbproject/private/
/Example10/nbproject/private/
/Example10/build/
/Example11/nbproject/private/
/Example11/build/
/Lab9/nbproject/private/
/Lab9/build/
/Example12/nbproject/private/
/Homework7/nbproject/private/
/Homework7/build/
/Example13/nbproject/private/
/JavaApplication48/nbproject/private/
/JavaApplication48/build/
/Lab10/nbproject/private/
/Lab10/build/
/Example09/nbproject/private/
/Example14/nbproject/private/
/Example14/build/
/Homework08/nbproject/private/
/Homework08/build/
/scratchpad/
/JavaApplication*/
/Example15/nbproject/private/
/Example15/build/
/Example09/build/
/Lab11/nbproject/private/